html {
  color: #888888;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000;
  height: 40px;
  color: #888888;
  font-family: "helvetica-neue", Arial, Helvetica, sans-serif;
  max-width: 100%;
  font-size: 10px;
  z-index: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  max-width: 100%;
  height: 40px;
  justify-content: flex-end;
}

footer {
  border-top: 1px solid #888888;
}

.navbar {
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin: 0 20vw;
}

.nav-logo {
  width: 80px;
  position: absolute;
  top: 12px;
  left: 5px;
}
.nav-logo img {
  max-width: 100%;
}

nav button {
  background-color: #d35266;
  border: none;
  border-radius: 3px;
  padding: 5px;
  font-family: "helvetica-bold", Arial, Helvetica, sans-serif;
  color: #fff;
}

.nav-small-list {
  position: absolute;
  right: 50px;
  top: 12px;
}

.user-name {
  color: #fff;
  margin-left: 20px;
}

.name-container {
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-family: "helvetica-neue", Arial, Helvetica, sans-serif;
}
.name-container img {
  padding-top: 45px;
  padding-bottom: 10px;
}

.search-container {
  align-items: center;
  padding-top: 25px;
  flex-direction: column;
}
.search-container * {
  margin-bottom: 10px;
  max-width: 80vw;
  min-width: 80vw;
  height: 30px;
  border-radius: 5px;
  font-family: "helvetica-light", Arial, Helvetica, sans-serif;
}

.header-drop-down,
.header-input-text {
  border: none;
  margin-right: 1px;
  color: #888888;
  background-color: #fff;
}

.submit-button {
  background-color: #383838;
  color: #888888;
}

#topnav {
  width: 100%;
}

#topnav #myLinks {
  display: block;
  background: #d35266 url(../images/header-background-logo.PNG);
  background-size: 500px;
  background-position: -112px 7px;
  background-repeat: no-repeat;
  height: 65vh;
  min-height: 377px;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
}

#topnav a {
  text-align: center;
  position: fixed;
  top: 0px;
  right: 0;
  color: white;
  text-decoration: none;
  font-size: 17px;
  display: block;
  width: 45px;
  height: 40px;
}

#topnav a.icon {
  background: #d35266;
  display: block;
  font-size: 20px;
  z-index: 2;
}

#collaps {
  transform: rotate(180deg);
  padding-bottom: 12px;
}

.hot-ads-header {
  font-family: "helvetica-neue", Arial, Helvetica, sans-serif;
  margin-left: 5vw;
  text-transform: uppercase;
  color: #888888;
}

.slider {
  max-width: 100%;
}
.slider img {
  width: 150px;
  margin-right: 15px;
}

#hot-ads {
  margin-top: 75vh;
}

.hot-ads-container {
  color: #888888;
  padding: 0 25px;
}

.filter-container {
  padding: 0 10px;
  border-bottom: 1px solid #888888;
}

.filter-section {
  font-family: "helvetica-light", Arial, Helvetica, sans-serif;
  padding-bottom: 15px;
}

.brand-filter h3,
.price-filter h3,
.delivery-filter h3 {
  font-family: "helvetica-bold", Arial, Helvetica, sans-serif;
  font-size: 15px;
  border-bottom: 1px solid #888888;
  margin: 10px 0;
}

.new-checkbox-container {
  margin-right: 5px;
}

.result-count {
  font-family: "helvetica-neue", Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #888888;
  padding: 15px;
  border-bottom: 1px solid #888888;
}

.ad-info {
  max-width: 70%;
  font-family: "helvetica-light", Arial, Helvetica, sans-serif;
}
.ad-info h3 {
  color: #d35266;
  font-family: "helvetica-bold", Arial, Helvetica, sans-serif;
  padding: 5px 0;
}
.ad-info div {
  padding: 5px 0;
  font-size: 10px;
}

.ad-info-buttons button {
  padding: 5px 15px;
  background-color: #d35266;
  color: #fff;
  font-family: "helvetica-neue", Arial, Helvetica, sans-serif;
  border: none;
}

.slider-content-container {
  justify-content: center;
}

.product-section {
  background-color: #f0f0f0;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: 10px;
  padding: 25px 20px 10px 20px;
  font-family: "helvetica-neue", Arial, Helvetica, sans-serif;
  color: #888888;
  font-size: 12px;
}

.product-result-section {
  background-color: #f0f0f0;
  padding: 25px 20px 10px 20px;
  font-family: "helvetica-neue", Arial, Helvetica, sans-serif;
  color: #888888;
  font-size: 12px;
}

.product {
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
}
.product img {
  max-width: 100%;
  align-self: center;
}
.product a {
  flex-direction: column;
}

.product-result {
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
}
.product-result img {
  max-width: 100%;
  align-self: center;
}
.product-result a {
  flex-direction: column;
}

.product-state {
  color: #d35266;
  padding: 5px 0;
  font-family: "helvetica-bold", Arial, Helvetica, sans-serif;
}

.product-location,
.product-description {
  font-size: 10px;
  padding-bottom: 5px;
}

.section-header {
  grid-column: 1/-1;
  align-items: center;
  padding: 0 20px 5px 20px;
  border-bottom: 1px solid #cccccc;
  background-color: #f0f0f0;
}
.section-header h2 {
  font-family: "helvetica-bold", Arial, Helvetica, sans-serif;
  font-size: 17px;
  margin-right: 5px;
}
.section-header p {
  font-size: 12px;
  color: #888888;
}

.product-price-section {
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-family: "helvetica-bold", Arial, Helvetica, sans-serif;
}
.product-price-section button {
  font-size: 15px;
}

.product-price {
  color: #d35266;
}

.website-description {
  margin: 20px 0;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "helvetica-neue", Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #888888;
}
.website-description img {
  max-width: 50%;
  margin-bottom: 15px;
}
.website-description p {
  max-width: 70%;
}

.footer-categories,
.footer-navigation {
  font-family: "helvetica-bold", Arial, Helvetica, sans-serif;
  color: #888888;
  font-size: 15px;
  margin: 0 15px;
}
.footer-categories h4,
.footer-navigation h4 {
  color: #d35266;
  font-size: 20px;
  border-bottom: 2px solid #d35266;
  padding: 3px 0;
}

.footer-category-lists {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  padding: 10px 0;
}

.footer-navigation-lists {
  padding: 10px 0;
}

.footer-drop-down {
  -webkit-appearance: none;
  background-color: #fff;
  text-align-last: center;
  -moz-text-align-last: center;
  -ms-text-align-last: center;
  width: 40vw;
  font-family: "helvetica-bold", Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.parameter-container {
  margin: 0 15px 15px 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #888888;
}

.parameter {
  margin: 10px 0;
  justify-content: space-between;
  font-family: "helvetica-bold", Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.parameter h4 {
  color: #d35266;
}

.bottom-footer {
  flex-direction: column;
  margin: 0 15px;
}

.copyright-text {
  font-family: "helvetica-light", Arial, Helvetica, sans-serif;
  color: #888888;
  font-size: 12px;
  justify-content: center;
  text-align: center;
}
.copyright-text p {
  max-width: 70vw;
}

.copyright-links {
  justify-content: center;
  color: #888888;
  font-size: 30px;
}
.copyright-links li {
  padding: 10px;
}

@media (max-width: 768px) {
  .extra-leaf,
.nav-small-list-container {
    display: none;
  }
}
@media (min-width: 768px) {
  nav {
    font-size: 16px;
  }

  .search-container {
    justify-content: center;
    padding-top: 95px;
    flex-direction: row;
  }
  .search-container * {
    margin-bottom: 10px;
    max-width: 20vw;
    min-width: 20vw;
    height: 30px;
    border-radius: 5px;
    font-family: "helvetica-light", Arial, Helvetica, sans-serif;
  }

  .slider img {
    width: 200px;
  }

  .ad-info div {
    padding: 8px 0;
    font-size: 14px;
  }
  .ad-info h3 {
    font-size: 25px;
  }

  .product-section {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .product {
    border-radius: 15px;
    border: 1px solid #383838;
  }

  .hot-ads-header {
    font-size: 20px;
  }

  .section-header {
    margin-top: 30px;
  }
  .section-header h2 {
    font-size: 20px;
  }
  .section-header p {
    font-size: 14px;
  }

  .product a h3 {
    font-size: 17px;
  }
  .product a p {
    font-size: 14px;
  }

  .product-price-section {
    font-size: 30px;
  }
  .product-price-section button {
    font-size: 20px;
  }

  .footer-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .footer-navigation {
    font-size: 13px;
  }

  .parameter {
    font-size: 17px;
  }

  .footer-drop-down {
    width: 11vw;
    font-size: 17px;
  }

  .parameter-container {
    border: none;
  }

  .bottom-footer {
    grid-column: span 4;
    flex-direction: row;
    border-top: 1px solid #888888;
    justify-content: space-between;
    align-items: center;
  }

  .copyright-text {
    font-size: 14px;
  }

  .filter-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .filter-container {
    padding: 40px 10px;
  }

  .filter-section {
    position: sticky;
    top: 50px;
  }
}
/* helper */
.flex {
  display: flex;
}

/*# sourceMappingURL=style.css.map */
